{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
          type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/themes/tim.css" type="text/css"
          media="screen" charset="utf-8">
    <link rel="stylesheet" href={% static 'css/main.css' %}>

    <title>{{ customtext.title|striptags }}</title>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        let externalUserId = '1234'
        window.OneSignal = window.OneSignal || [];
        const initConfig = {
            appId: "4348d878-c32b-428b-8fdc-8733b5811838",
            safari_web_id: "web.onesignal.auto.328b76bd-f95e-4ddf-b873-dc7d80d0ffe4",
            notifyButton: {
                enable: true,
            },
            // subdomainName: "cb-test",

        }
        OneSignal.push(function () {
            OneSignal.init({
                appId: "4348d878-c32b-428b-8fdc-8733b5811838",
                notifyButton: {
                    enable: true,
                },
            });

        });
        OneSignal.push(function () {
            OneSignal.getUserId(function (userId) {
                console.log('user', userId);
            });
        });
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand editable" data-remote="{{ customtext.api }}" data-field="{{ customtext.field }}"
           href="/">
            {{ customtext.title|safe }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if user.is_superuser %}
        <span class="btn btn-success top-right" id="editor" title="Change to inline editor">Edit</span>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer>
    <div class="footer-copyright text-white pt-4 pb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-md-8 col-sm-12 fev-pera">
                    <img style="height:40px" class="mr-2 mb-2" src="./img/icon/fevicon.svg" alt="Jamal Brothers">
                    <p>
                        Jamal Brothers (Pvt.) Limited | All Rights Reserved | Copyrights 2023-24 <br><a class="text-white" href="https://jamalbrothers.com.pk/"> www.jamalbrothers.com.pk</a> #JamalBrothers.
                    </p>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-12" style="align-self: center;">
                    <ul class="d-inline-flex " style="list-style: none;">
                        <li ><a class="mr-2 text-white" href="{% url 'home:page_terms_and_condition'%}" target="_blank">Terms & Conditions</a></li>
                        <li ><a class="mr-2 text-white" href="{% url 'home:page_privacy_policy' %}" target="_blank">Privacy Policy</a></li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    $('#editor').on('click', function (e) {
        if (e.target.innerText === 'Edit') {
            e.target.innerText = 'Cancel';
            var editor = new MediumEditor('.editable');
            editor.subscribe('editableBlur', function (event, editable) {
                var url = editable.dataset.remote;
                var field = editable.dataset.field;
                var data = {};
                data[field] = editable.innerHTML;
                api_call(url, data);
            });
        } else {
            e.target.innerText = 'Edit';
            window._mediumEditors.forEach(function (editor) {
                if (editor)
                    editor.destroy();
            })
        }
    });

    function api_call(url, data, method = 'PATCH') {
        $.ajax({
            type: method,
            url: url,
            data: data,
            dataType: 'json',
            headers: {
                'X-CSRFToken': $.cookie('csrftoken')
            },
            success: function (response) {
                toastr.success('Update Successful')
            },
            error: function (response) {
                toastr.error('Update Unsuccessful')
            }
        });
    }

    toastr.options = {
        "positionClass": "toast-bottom-right",
        "fadeIn": 300,
        "fadeOut": 800,
        "timeOut": 2000,
        "extendedTimeOut": 1000
    }
</script>
</body>

</html>