{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "About Us | Priority Gold" %}{% endblock %}
{% block extra_head %} 
<link rel="stylesheet" type="text/css" href={% static 'css/about.css' %}>
{% endblock %}

{% block banner-content %} 
<div class="banner">
    <img src={% static 'img/group-12339.png' %} class="image-right" alt="Banner Image error">
    <h1 class="banner-heading">About Us</h1>
</div>
{% endblock %}

{% block body-content %}
<div class="col-lg-12 mol-md-12 bg-pink">
    <h1 class="section-heading">Helping Entrepreneurs</h1>
    <h1 class="section-subheading">Make More Money</h1>
    <div class="container container-div">
        <div class="image-section-second">
            <img src={% static 'img/group-12204.png' %} class="security-image-second" alt="Image error">
        </div>
        <div class="security-section-second">
            <h1 class="security-heading-second">Our platform's</h1>
            <h1 class="security-heading-second">Security Feature</h1>
            <p class="security-paragraph-second">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam</p>
            <button class="security-button-second">Get Started</button>
        </div>
    </div>
</div>
<div class="col-lg-12 mol-md-12 bg-white">
    <div class="container container-div">
        <div class="security-section">
            <h1 class="security-heading">Our platform's</h1>
            <h1 class="security-heading"> Security Feature</h1>
            <p class="security-paragraph">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam</p>
            <button class="security-button">Get Started </button>
        </div>
        <div class="image-section">
            <img src={% static 'img/group-11955.png' %} class="security-image" alt="Image error">
        </div>
    </div>
</div>
<div class="bg-white"><br><br><br><br><br><br><br><br><br><br></div>

<div class="container container-box">
    <h1 class="heading-primary1">Numbers Speak For</h1>
    <h1 class="heading-primary">Themselves</h1>
    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in purus vitae
        mauris
        tristique euismod. Duis eu elit id urna placerat dapibus. Nullam dapibus purus ut urna semper tincidunt.
    </p>
    <div class="card-row">
        <div class="card-s">
            <h2 class="card-heading-s">235,000 +</h2>
            <p>Global Traders</p>
        </div>
        <div class="card-s">
            <h2 class="card-heading-s">$ 45,000</h2>
            <p>Invest Volumn</p>
        </div>
        <div class="card-s">
            <h2 class="card-heading-s">85,000 +</h2>
            <p>Active Profiles</p>
        </div>
    </div>
    <button class="button-primary">Get Started</button>
</div>
<br>
<div class="col-lg-12 mol-md-12 bg-pink">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="section-heading">Create At The</h1>
    <h1 class="section-subheading">Speed Of Thought</h1>
    <div class="container container-div">
        <div class="image-section-second">
            <img src={% static 'img/mask-group-5.png' %} class="security-image-second" alt="Image error">
        </div>
        <div class="security-section-second">
            <h1 class="security-heading-second">World class</h1>
            <h1 class="security-heading-second">information design</h1>
            <h1 class="security-heading-second">at your fingertips</h1>
            <p class="security-paragraph-second">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam</p>
            <button class="security-button-second">Get Started</button>
        </div>
    </div>
</div>

<div class="bg-white banneer">
    <div class="container container-new">
        <div class="heading-section-card">
            <h1 class="main-heading-card">Read Hot Trading And</h1>
            <h1 class="sub-heading-card">Priority Gold News</h1>
        </div>
        <div class="card-section-card">
            <div class="card card-card">
                <img src={% static 'img/rectangle-1506.png' %} class="card-image-card" alt="Image error">
                <h2 class="card-heading-card">Card 1</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="golden-card-button">Read More</button>
            </div>
            <div class="card card-card">
                <img src={% static 'img/rectangle-1503.png' %} class="card-image-card" alt="Image error">
                <h2 class="card-heading-card">Card 2</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="golden-card-button">Read More</button>
            </div>
            <div class="card card-card">
                <img src={% static 'img/rectangle-1504.png' %} class="card-image-card" alt="Image error">
                <h2 class="card-heading-card">Card 3</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="golden-card-button">Read More</button>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container container-container">
        <div class="image-container">
            <img src={% static 'img/group-12207.png' %} alt="Image error">
            <div class="content-container">
                <h1 class="main-heading-container">Get Started</h1>
                <h1 class="sub-heading-container">with Priority Gold</h1>
                <p class="paragraph-container">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                    adipiscing
                    elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <button class="my-button-container">Get Started</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}