{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% comment %} {% block head_title %}{% trans "Media Center | Priority Gold" %}{% endblock %} {% endcomment %}
{% block head_title %}{{ head_title }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/media.css' %}">
{% endblock %}

{% block banner-content %}
<div class="banner">
    <img src={% static 'img/group-12339.png' %} class="image-right" alt="Banner Image error">
    <h1 class="banner-heading">Media Center</h1>
</div>
{% endblock %}
{% block body-content %}

<div class="bg-white banneer">
    <div class="container-fluid container-new">
        <div class="heading-section-card">
            <!-- <h1 class="main-heading-card">Read Hot Trading And</h1>
            <h1 class="sub-heading-card">Priority Gold News</h1> -->
        </div>
        <div class="card-section-card">
            <div class="card card-card">
                <div class="date-shape">
                    <p>24</p>
                </div>
                <div class="date-text">
                    <span class="month">APR</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1506.png' %} alt="Image error">
                <h2 class="card-heading-card">Terra classic price prediction: What is terra?</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
            <div class="card card-card">
                <div class="date-shape">
                    <p>03</p>
                </div>
                <div class="date-text">
                    <span class="month">MAY</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1503.png' %} alt="Image error">
                <h2 class="card-heading-card">Can Adidas continue selling Yeezy product</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
            <div class="card card-card">
                <div class="date-shape">
                    <p>25</p>
                </div>
                <div class="date-text">
                    <span class="month">JUN</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1504.png' %} alt="Image error">
                <h2 class="card-heading-card">Terra classic price prediction: What is terra?</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
        </div>
    </div>






    <div class="container-fluid container-new">
        <div class="heading-section-card">
            <!-- <h1 class="main-heading-card">Read Hot Trading And</h1>
            <h1 class="sub-heading-card">Priority Gold News</h1> -->
        </div>
        <div class="card-section-card">
            <div class="card card-card">
                <div class="date-shape">
                    <p>03
                    </p>
                </div>
                <div class="date-text">
                    <span class="month">MAY</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1506.png' %} alt="Image error">

                <h2 class="card-heading-card">Can Adidas continue selling Yeezy product</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
            <div class="card card-card">
                <div class="date-shape">
                    <p>25</p>
                </div>
                <div class="date-text">
                    <span class="month">JUN</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1503.png' %} alt="Image error">
                <h2 class="card-heading-card">Terra classic price prediction: What is terra?</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
            <div class="card card-card">
                <div class="date-shape">
                    <p>24</p>
                </div>
                <div class="date-text">
                    <span class="month">APR</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1504.png' %} alt="Image error">
                <h2 class="card-heading-card">Terra classic price prediction: What is terra?</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
        </div>
    </div>







    <div class="container-fluid container-new">
        <div class="heading-section-card">
            <!-- <h1 class="main-heading-card">Read Hot Trading And</h1>
            <h1 class="sub-heading-card">Priority Gold News</h1> -->
        </div>
        <div class="card-section-card">
            <div class="card card-card">
                <div class="date-shape">
                    <p>24</p>
                </div>
                <div class="date-text">
                    <span class="month">APR</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1506.png' %} alt="Image error">

                <h2 class="card-heading-card">Terra classic price prediction: What is terra?</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
            <div class="card card-card">
                <div class="date-shape">
                    <p>03</p>
                </div>
                <div class="date-text">
                    <span class="month">MAY</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1503.png' %} alt="Image error">
                <h2 class="card-heading-card">Can Adidas continue selling Yeezy product</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
            <div class="card card-card">
                <div class="date-shape">
                    <p>25</p>
                </div>
                <div class="date-text">
                    <span class="month">JUN</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1504.png' %} alt="Image error">
                <h2 class="card-heading-card">Terra classic price prediction: What is terra?</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
        </div>
    </div>

    <div class="container-fluid container-new">
        <div class="heading-section-card">
            <!-- <h1 class="main-heading-card">Read Hot Trading And</h1>
            <h1 class="sub-heading-card">Priority Gold News</h1> -->
        </div>
        <div class="card-section-card">
            <div class="card card-card">
                <div class="date-shape">
                    <p>03</p>
                </div>
                <div class="date-text">
                    <span class="month">MAY</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1506.png' %} alt="Image error">

                <h2 class="card-heading-card">Can Adidas continue selling Yeezy product</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
            <div class="card card-card">
                <div class="date-shape">
                    <p>25</p>
                </div>
                <div class="date-text">
                    <span class="month">JUN</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1503.png' %} alt="Image error">
                <h2 class="card-heading-card">Terra classic price prediction: What is terra?</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
            <div class="card card-card">
                <div class="date-shape">
                    <p>24</p>
                </div>
                <div class="date-text">
                    <span class="month">APR</span>
                </div>
                <img class="card-image-card" src={% static 'img/rectangle-1504.png' %} alt="Image error">
                <h2 class="card-heading-card">Terra classic price prediction: What is terra?</h2>
                <p class="card-paragraph-card">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="golden-button-card">Read More</button>
            </div>
        </div>
    </div>

    <br><br>
</div>

<div class="bg-white">
    <div class="container-section">
        <div class="bg-white">
            <div class="container-container">
                <div class="image-container">
                    <img src={% static 'img/group-12207.png' %} alt="Image error">
                    <div class="content-container">
                        <h1 class="main-heading-container">Get Started</h1>
                        <h1 class="sub-heading-container">with Priority Gold</h1>
                        <p class="paragraph-container">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.Lorem
                            ipsum
                            dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <button class="my-button-container">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="featured-section" style="background-color: white; font-family: 'myFont-Medium';">
    <p>Featured and seen in</p>
    <div class="image-row">
        <img src={% static 'img/circle.png' %} alt="Image error">
        <img src={% static 'img/earth-2.0.png' %} alt="Image error">
        <img src={% static 'img/solaytic.png' %} alt="Image error">
        <img src={% static 'img/kyan.png' %} alt="Image error">
        <img src={% static 'img/treva.png' %} alt="Image error">
    </div>
    <br>
</div>
<div style="background-color: white;"><br><br></div>

{% endblock %}