{% extends 'base_basic.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% block head_title %}{{ head_title }}{% endblock %}

{% block body-content %}
<div class="popup-form" id="popupForm">
    <span class="close-icon" onclick="closeForm()"><img src="{% static 'img/icon-cancel.svg' %}" alt=""></span>
    <form id="editProductForm" method="post" action="{% url 'portfolio:update_product' %}{{ form.id.value }}/">
        {% comment %} <form id="editPortfolioForm" method="post" action="{% url 'portfolio:update_portfolio' %}"> {% endcomment %}
        {% csrf_token %}
        <div>
            <h1 class="form-heading">{% trans "Edit Product" %}</h1>
        </div>
        {% bootstrap_field form.id form_group_class='form-group' %}
         <div class="two-dropdowns"> 
            <div class="form-group"><label class="form-label" for="id_metal">Metal</label>
                <input type="text" name="metal" value="{{ metal_name }}" class="form-control form-controlform-control-ounces" step="any" placeholder="Metal" title="" required="" id="id_metal">
            </div>
            <div class="form-group"><label class="form-label" for="id_grade">Grade</label>
                <input type="text" name="grade" value="{{ grade_name }}" class="form-control form-controlform-control-ounces" step="any" placeholder="Grade" title="" required="" id="id_grade">
            </div>            
        </div>
        <div class="two-dropdowns"> 
            <div class="form-group"><label class="form-label" for="id_productfamily">Product Family</label>
                <input type="text" name="productfamily" value="{{ productfamily_name }}" class="form-control form-controlform-control-ounces" step="any" placeholder="Product Family" title="" required="" id="id_productfamily">
            </div>
            <div class="form-group"><label class="form-label" for="id_product">Product</label>
                <input type="text" name="product" value="{{ product_name }}" class="form-control form-controlform-control-ounces" step="any" placeholder="Product" title="" required="" id="id_product">
            </div>            
        </div>
        <div class="ounces-dropdown">
            <div class="form-group"><label class="form-label" for="id_ounces">Ounces</label>
                <input type="number" name="ounces" value="{{ ounces }}" class="form-control form-controlform-control-ounces" step="any" placeholder="Ounces" title="" required="" id="id_ounces">
            </div>
            {% bootstrap_field form.factor_rate form_group_class='form-group' %}
            {% bootstrap_field form.is_active form_group_class='form-group' %}
        </div>
        <div class="two-dropdowns">
            {% bootstrap_field form.product_status form_group_class='form-group' %}
            <img class="angles-down-2" src="{% static './img/angles-down.png' %}" >

            {% bootstrap_field form.shipping_status form_group_class='form-group' %}
            <img class="angles-down-grade" src="{% static './img/angles-down.png' %}" >

        </div>
        <div class="form-button">
            <button type="submit" class="metals-button">Save & Continue</button>
        </div>
    </form>
</div>
{% endblock %}