{#{% load static %}#}
{##}
{#<footer class="bg-white rounded shadow p-5 mb-4 mt-4">#}
{#  <div class="row">#}
{#<div style="position: relative;">#}
{#  <img src="{% static 'img/logo-pg.svg' %}" alt="logo Image error" style="width: 180px; position: absolute; top: -40px; left: 0;">#}
{#</div>#}
{#    <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">#}
{##}
{#    </div>#}
{#      <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">#}
{#        <li class="list-inline-item px-0 px-sm-2">#}
{#          <a href="{% url 'home:about_us' %}" target="_blank">About Us</a>#}
{#        </li>#}
{#          <li class="list-inline-item px-0 px-sm-2">#}
{#          <a href="{% url 'home:features' %}" target="_blank">Features</a>#}
{#        </li>#}
{#        <li class="list-inline-item px-0 px-sm-2">#}
{#          <a href="{% url 'home:terms_and_condition' %}" target="_blank">Terms & Conditions</a>#}
{#        </li>#}
{#        <li class="list-inline-item px-0 px-sm-2">#}
{#          <a href="{% url 'home:privacy_policy' %}" target="_blank">Privacy Policy</a>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{##}
{#</footer>#}