{% extends "base.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% load static %}
{% block head_title %}User Settings | Priority Gold Plus{% endblock %}
{% block extra_head %}  
<link rel="stylesheet" type="text/css" href={% static 'css/settings.css' %}>
{% endblock %}

{% block banner-content %} {% endblock %}

{% block body-content %}

<br>
<br>
<br>
<div class="container main-section">
    <h1>Settings</h1>
</div>
<div class="container">
    <div class="notification2">

        <h1>Notifications</h1>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1"></label>
        </div>
    </div>
    <a class="a-link" href="javascript:void(0);" onclick="openPopup()">
        <div class="notification">
            <h1>Change Password</h1>
        </div>
    </a>
    <div class="popup" id="popup">
        <span class="close-icon" onclick="closePopup()"><img src={% static 'img/icon-cancel.svg' %} alt=""></span>

        <h2>Change Password</h2>
        <form method="POST">
       {% csrf_token %}
        <div class="password-field">
            <label class="small mb-1" for="id_old_password">Old Password</label>
        <input type="password" name="old_password" autocomplete="new-password"
        class="form-control" required id="id_old_password"
        placeholder="Enter Old Password"/>
            <span class="eye" onclick="togglePasswordVisibility('id_old_password', 'hide1', 'hide2')">
                <i id="hide1" class="fa fa-eye"></i>
                <i id="hide2" class="fa fa-eye-slash"></i>
            </span>
        </div>
        <div class="password-field">
              <label class="small mb-1" for="id_new_password1">New Password</label>
              <input type="password" name="new_password1" autocomplete="new-password"
              class="form-control" required id="id_new_password1"
              placeholder="Enter New Password"/>

            <span class="eye" onclick="togglePasswordVisibility('id_new_password1', 'hide3', 'hide4')">
                <i id="hide3" class="fa fa-eye"></i>
                <i id="hide4" class="fa fa-eye-slash"></i>
            </span>
        </div>
        <div class="password-field">
            <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
            <input type="password" name="new_password2" autocomplete="new-password"
            required id="id_new_password2" class="form-control" required id="id_new_password1"
            placeholder="Confirm New Password"/>

            <span class="eye" onclick="togglePasswordVisibility('id_new_password2', 'hide5', 'hide6')">
                <i id="hide5" class="fa fa-eye"></i>
                <i id="hide6" class="fa fa-eye-slash"></i>
            </span>
        </div>

        <div class="buttons">

            <button class="save-now" onclick="closePopup()">Save Now</button>
            <button class="cancel" onclick="closePopup()">Cancel</button>
             {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
        </div>
    </div>
    <a class="a-link" href="{% url 'home:privacy_policy' %}">
        <div class="notification">
            <h1>Privacy Policy</h1>
        </div>
    </a>
    <a class="a-link" href="{% url 'home:terms_and_condition'%}">
        <div class="notification">
            <h1>Terms & Condition</h1>
        </div>
    </a>
    <a class="a-link" href="{% url 'home:contact_us' %}">
        <div class="notification">
            <h1>Help & Support</h1>
        </div>
    </a>


</div>
 {% comment %} <div class="popup2" id="popup2">
    <h2>Confirm That</h2>
    <h2>You Wish To Log Out.</h2>
    <div class="buttons">
        <a class="save-now" href="{% url 'logout' %}">
       Yes, Sure
</a>
        <button class="cancel" onclick="closePopup2()">Not Now</button>
    </div>
</div> {% endcomment %}


<br>
<br>
{% endblock %}    

{% block body-content-footer %} 
<script>
    function openPopup() {
        document.getElementById("popup").style.display = "block";
        document.body.classList.add("popup-open");
    }

    function closePopup() {
        document.getElementById("popup").style.display = "none";
        document.body.classList.remove("popup-open");
    }
    function togglePasswordVisibility(inputId, showIconId, hideIconId) {
        var x = document.getElementById(inputId);
        var showIcon = document.getElementById(showIconId);
        var hideIcon = document.getElementById(hideIconId);

        if (x.type === 'password') {
            x.type = 'text';
            showIcon.style.display = 'none';
            hideIcon.style.display = 'inline-block';
        } else {
            x.type = 'password';
            showIcon.style.display = 'inline-block';
            hideIcon.style.display = 'none';
        }
    }
</script>
{% endblock %}