@font-face {
  font-family: "myFont-Regular";
  src: url("../fonts/VisbyCF-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myFont-Bold";
  src: url("../fonts/VisbyCF-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "myFont-Bold2";
  src: url("../fonts/VisbyCF-BoldOblique.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "myFont-Thin";
  src: url("../fonts/VisbyCF-Thin.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "myFont-Light";
  src: url("../fonts/VisbyCF-Light.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "myFont-Medium";
  src: url("../fonts/VisbyCF-Medium.otf");
  font-weight: lighter;
  font-style: normal;
}

body {
  background-color: #fefaea;
}
nav {
  background-color: #505050;
}

a {
  color: white;
  font-weight: 200;
  font-size: 9px;
  font-family: "myFont-Regular";
}

/*****Drop Down Section*****/
/* Style the dropdown container */

.dropbtn {
  font-size: 9px;
  font-family: "myFont-Regular";
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

/* Change the background color of the dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.gape-right {
  padding-left: 10px;
}
.black {
  color: black;
}
.words {
  color: black;
}
a:hover {
  color: goldenrod;
}
.center-nav {
  text-align: center;
}

.center-nav .nav-link {
  display: inline-block;
}

.center-nav {
  text-align: center;
}

.nav-item {
  margin-right: 46px;
}
.nav-item2 {
  margin-right: 10px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 947px;
}

.linee:not(:last-child) .nav-link::after {
  content: "|";
  color: black;
  margin-left: 50px;
}
.linee-2 {
  margin-left: 40px;
}
.linee-3 {
  margin-right: 99px;
}
.linee-4 {
  margin-left: 90px;
}

.white-nav {
  background-color: white;
}

.white-nav-items .nav-link {
  color: black;
}
.banner-bg {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: auto;
  z-index: -1;
}
.img-heading {
  text-align: center;
}

.white-nav-items .nav-item.dropdown .dropdown-menu {
  background-color: white;
}

.btn-golden {
  /* background-color: #daa520; */
  background: linear-gradient(283deg, #ba7607, #edcc45);

  color: white;
  height: 30px;
  border-radius: 50px;
  font-size: 10px;
}

.btn-white-outline {
  background-color: white;
  height: 30px;
  font-size: 10px;
  color: gray;
  border: 1px solid gray;
  margin-left: 25px;
  border-radius: 50px;
  transition: color 0.3s, border-color 0.3s;
}

.btn-white-outline:hover {
  color: black;
  border-color: black;
}

.btn-icon {
  margin-left: 5px;
}

.logo-container {
  display: flex;
  justify-content: center;
  z-index: 1;
  background-color: white;
}

.navbar-logo {
  width: 150px;
  height: auto;
  z-index: 2;
  margin-top: -33px;
  margin-bottom: -33px;
}

.cut-out-shape {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 100% 100% 100% 100%;
  overflow: hidden;
  z-index: 2;
}
.cut-out-shape2 {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  width: 260px;
  height: 260px;
  background-color: #fff;
  border-radius: 100% 100% 100% 100%;
  overflow: hidden;
  z-index: -1;
}

.logo-container {
  z-index: 1;
}

.green {
  background-color: #17a72a;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 6px 10px;
  display: flex;
  height: 20px;
  width: 70px;
  align-items: center;
  font-size: 10px;
}
.red {
  background-color: #f80707;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 6px 12px;
  display: flex;
  height: 20px;
  width: 70px;
  align-items: center;
  font-size: 10px;
}

.btn i {
  margin-right: 5px;
}

.position-relative {
  position: relative;
}

.banner-bg {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  z-index: 1;
  text-align: center;
}

.main-heading {
  font-size: 32px;
  font-weight: bold;
  color: #daa520;
}

.sub-heading {
  font-size: 24px;
}

.phone-images-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.phone-image {
  background-image: url("../img/Group-11956.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-top: -50px;
  background-size: contain;
  width: 100%;
  height: auto;
}
.download-btn {
  background: linear-gradient(283deg, #ba7607, #edcc45);
  align-items: center;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  width: 135px;
  border: 0px;
}
.P-Heading {
  background: linear-gradient(99deg, #fde966, #fde966, #cf9102, #8c3c10);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 75px;
  text-align: center;
  font-family: "myFont-Bold";
}
.btnnn {
  display: flex;
  justify-content: center;
}

.table-heading {
  text-align: start;
  padding: 8px;
  padding-top: 15px;
  font-size: 20px;
}
.table-borderless {
  margin-top: 80px;
  padding-bottom: 5px;
  background-color: white;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
th {
  font-size: 12px;
  color: #505050;
}
td {
  font-size: 12px;
  text-align: start;
}
thead {
  border-bottom: 2px solid #ccc;
}
.circle-cell::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: goldenrod;
  margin-right: 5px;
}
.circle-cell {
  text-align: start;
}
.headings-table {
  text-align: start;
}

.container-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.security-section {
  flex: 1;
  margin: 20px;
}

.security-heading {
  font-size: 45px;
  font-weight: bold;
  text-align: start;
  font-family: "myFont-Regular";
}

.security-paragraph {
  font-size: 16px;
  text-align: start;
  margin-bottom: 10px;
}

.security-button {
  padding: 5px 20px;
  background-color: #daa520;
  float: left;
  font-size: 10px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.image-section {
  flex: 1;
  margin: 20px;
}

.security-image {
  max-width: 100%;
  height: auto;
}

.container-box {
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 4px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
  margin-top: -180px;
}

.heading-primary {
  color: goldenrod;
  font-family: "myFont-Bold";
  /* font-weight:200; */
  font-size: 40px;
}

.paragraph {
  font-size: 16px;
  margin-bottom: 20px;
}

/************banner cards***************/

.card-container {
}
.card-row {
  display: flex;
  justify-content: center;
  margin-top: 95px;
}
.card-bg1 {
  background: linear-gradient(110deg, #b5b4b4, #bbbbbb00);
}
.card-bg2 {
  background: linear-gradient(115deg, #f7e58f, #ffffff00);
}
.card-bg3 {
  background: linear-gradient(115deg, #b9b9b9, #ffffff00);
}
.card-bg4 {
  background: linear-gradient(111deg, #9b9b6e, #ffffff00);
}
.card-1 {
  width: 18%;
  padding: 15px;
  border-radius: 20px;
  /* background-color: goldenrod; */
  color: #fff;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  position: relative;
}
.card-text {
  /* New styles */
  position: absolute;
  bottom: 10px;
  left: 50%;
  top: 45%;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 38px;
  color: rgb(60, 59, 59);
  /* transform: translateX(-50%); */
}

.card-1 img {
  width: 25px;
  margin-right: 5px;
}

.card-content {
  flex: 1;
}

.card-1 h2 {
  margin: 0;
  font-size: 18px;
}
.shade-card-heading {
  color: black;
  font-family: "myFont-Bold";
  font-size: 20px;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
}

.card-details button i {
  margin-right: 5px;
}

.card-details p {
  margin: 0;
}

.card-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card-s {
  flex: 1;
  padding: 20px;
  background-color: #fefaea;
  border-radius: 8px;
  border: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.card-heading-s {
  font-size: 40px;
  color: #daa520;
  font-weight: bold;
}

.button-primary {
  padding: 5px 20px;
  background-color: #daa520;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button-primary:hover {
  background-color: darkgoldenrod;
}
.container-section {
  text-align: center;
  /* padding: 20px; */
  padding-top: 80px;
}

.top-section {
  margin-bottom: 20px;
}

.black-heading {
  color: black;
  font-size: 35px;
}

.golden-heading {
  color: goldenrod;
  font-size: 35px;
  padding-bottom: 20px;
}
.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-section {
  margin: -20px;
  padding: 0;
}

.left-section img {
  /* max-width: 100%; */
  padding-top: 20px;
  width: 50%;
  height: auto;
}

.right-section {
  flex: 1;
  text-align: left;
}

.sub-heading {
  color: black;
  font-family: "myFont-Bold";
  font-size: 38px;
  text-align: start;
}

.paragraph {
  font-size: 16px;
  margin-bottom: 20px;
}

.golden-button {
  padding: 0px 20px;
  background-color: goldenrod;
  color: white;
  border: none;
  height: 30px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.golden-button:hover {
  background-color: darkgoldenrod;
}

.container-new {
  text-align: center;
  padding: 20px;
}

.heading-section-card {
  margin-bottom: 20px;
}

.main-heading-card {
  font-size: 35px;
  font-family: "myFont-Bold";
}

.sub-heading-card {
  color: goldenrod;
  font-size: 35px;
  font-family: "myFont-Bold";
}

.card-section-card {
  display: flex;
  justify-content: space-between;
}

.card-card {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.card-image-card {
  max-width: 100%;
  margin-bottom: 10px;
}

.card-heading-card {
  font-size: 18px;
  font-weight: bold;
}

.card-paragraph-card {
  font-size: 16px;
  margin-bottom: 10px;
}

.golden-button-card {
  /* padding: 0 2px; */
  background-color: white;
  color: black;
  border: 3px solid goldenrod;
  height: 30px;
  width: 100px;
  font-weight: bold;
  font-size: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.golden-button-card:hover {
  background-color: goldenrod;
  color: white;
}
.golden-button-card:active {
  background-color: goldenrod;
  color: white;
}
.banneer {
  padding-top: 50px;
}

.container-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  display: block;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.main-heading-container {
  font-size: 35px;
  margin-bottom: 10px;
}

.sub-heading-container {
  font-size: 35px;
  margin-bottom: 10px;
  color: white;
}

.paragraph-container {
  font-size: 13px;
  margin-bottom: 20px;
}

.my-button-container {
  background-color: white;
  color: black;
  border: none;
  height: 25px;
  width: 120px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.my-button-container:hover {
  background-color: goldenrod;
  color: white;
}
.featured-section {
  text-align: center;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 50px; /* Adjust the gap value as per your preference */
}

.image-row img {
  width: 140px; /* Adjust the width as per your image size requirements */
  height: 40px; /* Maintain the aspect ratio */
}
.footer-bs {
  background-color: #fefaea;
  padding: 60px 40px;
  color: black;
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent;
}
.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
}
.footer-bs .footer-brand p {
  font-size: 12px;
  color: black;
}

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}
.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}
.footer-bs .footer-nav ul.pages a {
  color: rgb(68, 67, 67);
  font-weight: bold;
  text-transform: uppercase;
}
.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(12, 12, 12, 0.8);
  text-decoration: none;
}
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.logo-image {
  width: 100%;
  height: auto;
}
.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}
.footer-bs .footer-nav ul.list li {
  padding: 5px 0px;
}
.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8);
}
.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li {
  padding: 5px 4px;
}
.footer-bs .footer-social a {
  color: rgba(255, 255, 255, 1);
}
.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
}
.social-icons img {
  width: 20px;
  height: auto;
  margin-left: 5px;
}
.social-icons {
  margin-left: 100px;
}
.copyright {
  margin-right: 100px;
  font-size: 10px;
  color: lightgrey;
}
.chart-container {
  position: relative;
  width: 400px;
  height: 300px;
}

.chart-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 223, 0, 1),
    rgba(255, 223, 0, 0)
  );
  z-index: -1;
}

/****************************Sign Up Form Styling***************************************/
.SignUp {
  /* background-image: url("/images/background-eagle.svg"); */
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 856px auto;
  margin-left: -50px;
}
.container-sign {
  display: flex;
  max-width: 600px;
  background-color: none;
  margin-left: 190px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
}
.back img {
  height: auto;
  padding-top: 80px;
  width: 704px;
  z-index: -1;
  margin-top: -669px;
  margin-left: -250px;
}

.left-section {
  flex: 1;
  padding: 40px;
}

.logo {
  text-align: center;
  margin-bottom: 15px;
  margin-right: 63px;
}

.logo img {
  width: auto;
  height: 145px;
  margin-left: -120px;
}

.oval-button {
  display: inline-block;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: white;
  font-family: "myFont-Regular";
}

.google-button {
  background-color: #ffffff;
}

.facebook-button {
  background-color: #ffffff;
}

.form {
  margin-bottom: 20px;
}

.form h2 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 0px;
  text-align: start;
  font-family: "myFont-Bold";
}

.form p {
  font-size: 12px;
  color: #888;
  text-align: center;
  margin-bottom: 0px;
  font-family: "myFont-Regular";
  float: left;
}

.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 27px;
  border: 1px solid white;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0.2, 0.2, 0.2, 0.2);
  /* color: rgb(231, 230, 230); */
  font-size: 12px;
}

.form button {
  width: 100%;
  padding: 12px;
  border-radius: 27px;
  background: linear-gradient(283deg, #ba7607, #edcc45);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.mm-checkbox {
  margin-left: 4px;
  font-size: 12px;
  margin-top: 5px;
}

.group-3 {
  margin-bottom: -40px;
}
.form button:hover {
  background-color: #ad6706;
}

.line {
  text-align: center;
}

.checkbox a {
  text-decoration: none;
  font-size: 12px;
  color: black;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 9px;
  justify-content: start;
  /* color: ; */
}
.checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.checkbox .custom-checkbox {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 1px;
}

.checkbox input[type="checkbox"]:checked + .custom-checkbox {
  background-color: transparent;
  background-image: linear-gradient(to right, #edcc45, #ba7607);
  border: 1px solid #000;
  border: none;
}

.line {
  font-size: 12px;
  text-align: center;
  padding-left: 90px;
}
.form a {
  color: black;
}
.right-section {
  flex: 1;
  text-align: center;
  padding: 40px;
  background-image: url("path-to-your-image.jpg");
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right-section img {
  margin-left: 60px;
}

.social-buttons {
  text-align: center;
  padding: 10px;
}

.social-buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
