<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile Chart</title>
</head>
<body>
    <h1>User Profile Chart</h1>
    
    <!-- Add your chart rendering code here -->
    
</body>
</html>



{% comment %} {% extends 'layouts/base.html' %} 
{% load static %} 

{% block content %}
    <div class="chart-container">
        <canvas id="userProductChart"></canvas>
    </div>

    <script>
        var user_labels = {{ user_labels|safe }};
        var product_counts = {{ product_counts|safe }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/chart.js' %}"></script>
{% endblock %} {% endcomment %}
