@font-face {
  font-family: "myFont-Regular";
  src: url("../fonts/VisbyCF-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myFont-Bold";
  src: url("../fonts/VisbyCF-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "myFont-Bold2";
  src: url("../fonts/VisbyCF-BoldOblique.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "myFont-Thin";
  src: url("../fonts/VisbyCF-Thin.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "myFont-Light";
  src: url("../fonts/VisbyCF-Light.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "myFont-Medium";
  src: url("../fonts/VisbyCF-Medium.otf");
  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FEFAEA;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  /* display: flex; */
  align-items: center;
  height: 50vh;
}

.container {
  display: flex;
  max-width: 600px;
  background-color: none;
  margin-left: 190px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
}
.back img {
  height: auto;
  padding-top: 80px;
  width: 564px;
  z-index: -1;
  margin-left: -1562px;
}

.left-section {
  flex: 1;
  padding: 40px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
  /* justify-content: start; */
}

.logo img {
  width: auto;
  height: 115px;
  margin-left: -163px;
}
.oval-button {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  padding-top: 11px;
  line-height: 40px;
  font-size: 18px;
  color: white;
  font-family: "myFont-Regular";
  margin-right: 10px; /* Add margin to create space between buttons */
}
.google-button {
  background-color: white;
}

.facebook-button {
  background-color: white;
}

form {
  margin-bottom: 20px;
}

form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  text-align: start;
  font-family: "myFont-Bold";
}

form p {
  font-size: 13px;
  color: #888;
  text-align: center;
  font-family: "myFont-Regular";
  float: left;
}

form .form-label {
  font-size: 12px;
}
form .form-label-email {
  font-size: 12px;
  padding-top: 30px;
  margin-left: -184px;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 27px;
  border: 1px solid #ccc;
  background-color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);

  margin-bottom: 20px;
}

form button {
  width: 100%;
  padding: 12px;
  border-radius: 27px;
  background: linear-gradient(283deg, #ba7607, #edcc45);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}


form button:hover {
  background-color: #ad6706;
}

.line {
  text-align: center;
}
.mm-checkbox {
  margin-left: 4px;
  font-size: 12px;
  margin-top: 5px;
}

.checkbox a {
  text-decoration: none;
  font-size: 12px;
  color: black;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 9px;
  justify-content: start;
  /* color: ; */
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.checkbox .custom-checkbox {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 1px;
}

.checkbox input[type="checkbox"]:checked+.custom-checkbox {
  background-color: transparent;
  background-image: linear-gradient(to right, #edcc45, #ba7607);
  border: 1px solid #000;
  border: none;
}


.checkbox-color {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 9px;
  /*margin-left:140px;*/
  /*justify-content: space-between;*/
  color: #000;
}
.checkbox-color .custom-checkbox {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  margin-top: -1px;
  background-color: #ccc;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background 0.3s;
}
.checkbox-color .custom-checkbox:checked {
  background: linear-gradient(283deg, #BA7607, #EDCC45);
}
.checkbox-color .custom-checkbox:checked:after {
  content: "\f00c";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 8px;
  color: #fff;
}
.checkbox-color .mm-checkbox {
    margin-left: 4px;
}

.line {
  font-size: 12px;
  text-align: center;
  padding-left: 90px;
}
form a {
  color: black;
}
.right-section {
  flex: 1;
  text-align: center;
  padding: -4px;
  background-image: url(path-to-your-image.jpg);
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right-section img {
  margin-left: 60px;
  margin-top: 62px;
  height: 570px;

}

.social-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  margin: 25px auto;
  margin-right: 90px;
}

.social-buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.eye {
  position: absolute;
  margin-top: -56px;
  margin-left: 320px;
  color: #505050;
  font-size: 14px;
  cursor: pointer;
}
#hide1 {
  display: none;
}
#hide3 {
  display: none;
}
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button img {
  width: 20px;
  height: 20px;
}

.back-heading {
  position: absolute;
  top: 30px;
  left: 70px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'myFont-Medium';
}